In [1]:
import re

In [6]:
y="How are you? How is everything ?"
o=re.search("How",y)
print(o.start())
print(o.end()-1)

0
2

In [ ]:
# re.findall(x,y)--matches all the instances of an expr x in a string y and returns them in a list

In [4]:
y="How are you? How is everything ?"
o=re.findall("How",y)
len(o)

2

In [8]:
# starts with I ends with python
txt="I am learning python"
pattern="^I.*python$"
X=re.search(pattern,txt)
if X:
    print("Pattern found")
else:
    print("Pattern not found")

Pattern not found

In [9]:
#[a-k]
re.findall("[a-d0-3]","cbr25980r")

['c', 'b', '2', '0']

In [11]:
re.findall("[dym]","cbrdd25mm980yyyr")

['d', 'd', 'm', 'm', 'y', 'y', 'y']

In [12]:
re.findall("[^dym]","cbrdd25mm980yyyr")

['c', 'b', 'r', '2', '5', '9', '8', '0', 'r']

In [15]:
#\w-- a-zA-Z0-9_
re.findall("\w","cb25 mm_980y#y$yr")

['c', 'b', '2', '5', 'm', 'm', '_', '9', '8', '0', 'y', 'y', 'y', 'r']

In [16]:
#\d
re.findall("\d","cb25 mm_980y#y$yr")

['2', '5', '9', '8', '0']

In [17]:
re.findall("\D","cb25 mm_980y#y$yr")

['c', 'b', ' ', 'm', 'm', '_', 'y', '#', 'y', '$', 'y', 'r']

In [22]:
#\s
#earch for the first white space char
txt="I am learning python"
x=re.search("\s",txt)
print(x.start()+1)
re.findall("\s",txt)

2

[' ', ' ', ' ']

In [24]:
# .
re.findall(".","Hi guys  $ \t\n")

['H', 'i', ' ', 'g', 'u', 'y', 's', ' ', ' ', '$', ' ', '\t']

In [25]:
re.findall("^[a-zA-Z]\w","Hi guys  $ \t\n")

['Hi']

In [28]:
re.findall("^[a-zA-Z]\w","5 star  $ \t\n")

[]

In [30]:
#\--escapes special char
re.findall("\*","5 star *")

['*']

In [36]:
re.findall("H?","Hi 5 star")

['H', '', '', '', '', '', '', '', '', '']

In [38]:
re.findall("H+","Hi Hi 5 star")

['H', 'H']

In [42]:
txt="Tiger is a national animal of India.Tiger lives in forest"
pattern="Tiger"
re.match(pattern,txt).group()

'Tiger'

In [46]:
txt="India got freedom on 15-08-1947, and it is celebrated as Independence Day.\
Indian Constituion came into effect on 26-01-1950, and it is celebrated as Republic Day."

pattern=r"\d{2}-\d{2}-\d{4}"
re.findall(pattern,txt)

['15-08-1947', '26-01-1950']

In [ ]:
#finditer()--this is similar to findall but returns iterator

In [49]:
txt="Tiger is a national animal of India.Tiger lives in forest"
pattern="Tiger"
result=re.finditer(pattern,txt)

for m in result:
    print(m)
    print(m.start(),m.end(),m.group())

<re.Match object; span=(0, 5), match='Tiger'>
0 5 Tiger
<re.Match object; span=(36, 41), match='Tiger'>
36 41 Tiger

In [51]:
#sub()--
txt="Python community is biggest community in India"
re.sub("India","the world",txt)

'Python community is biggest community in the world'

In [58]:
txt="I have a big test tomorrow; I can't go out tonight"
re.split(r"[;]",txt)

['I have a big test tomorrow', " I can't go out tonight"]

In [ ]:
# groups--

In [90]:
txt="Ajay credited $500 to your account on 12-02-2023.\
Anmol debited $1700 from your account on 13-02-2023.\
Alex debited $100 on 14-02-2023 from your account." 

pattern="([\w]+) ([\w]+) (\$[\d]+) [a-zA-Z]+ (\d{2}-\d{2}-\d{4})."

result=re.findall(pattern,txt)
print(result)

[('Alex', 'debited', '$100', '14-02-2023')]

In [85]:
import pandas as pd
df=pd.DataFrame(result,columns=["Name","Action_Type","Amount","Date"])
df

   Name Action_Type Amount        Date
0  Alex     debited   $100  14-02-2023

In [101]:
txt="Ajay credited $500 to your account on 12-02-2023.\
Anmol debited $1700 from your account on 13-02-2023.\
Alex debited $100 on 14-02-2023 from your account."

pattern="([\w]+) ([\w]+) (\$[\d]+) [a-zA-Z ]+ (\d{2}-\d{2}-\d{4})."
result=re.findall(pattern,txt)

In [102]:
import pandas as pd
df=pd.DataFrame(result,columns=["Name","Action_Type","Amount","Date"])
df

    Name Action_Type Amount        Date
0   Ajay    credited   $500  12-02-2023
1  Anmol     debited  $1700  13-02-2023
2   Alex     debited   $100  14-02-2023